version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: asset-app
    restart: unless-stopped
    env_file:
      - .env.production
    ports:
      - "5000:5000"
    networks:
      - asset-network

networks:
  asset-network:
    driver: bridge
